@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
  background-color: rgba(0, 0, 0, 0);
  font-family: "Oswald", sans-serif;
  margin:0;
  padding:0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p{
  margin: 0;
  padding:0;
}

p{
  color:black;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  margin: 10px 0;
}

/* CONTAINER */

.container{
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.container-left {
  margin: 0 10px;
  width: 70vw;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
}

.container-right {
  margin: 0 10px;
  width: 30vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HERO-BANNER */

.hero-banner {
  width: 100%;
}

.hero-banner img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
}

/* INFORMATIONS */

.informations {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: black;
}

.informations img{
  margin-top: -100px;
}

.informations h2{
  color:black;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.informations span{
  margin-right: 15px;
  font-family: "Oswald", sans-serif;
  color:gray;
}

.informations i{
  margin-right: 5px;
}

.informations button{
  position:absolute;
  align-self: flex-end;
}

/* SUGGESTIONS */

#suggestions {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  padding-bottom: 10px;
}

#suggestions h2{
  padding: 10px 20px;
}

#suggestions li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  color: black;
  padding: 5px 15px;
  line-height: 1.3;
  transition: background-color 0.5s ease;
}

#suggestions li:hover {
  background-color: rgb(234, 234, 234);
}

#suggestions img{
  width: 40px;
  height: 40px;
}

#suggestions h2{
  color:black;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

#suggestions p{
  margin: 0;
}

#suggestions button{
  border-radius: 30px;
  padding: 2px 15px;
}

/* IMAGES */

.img-circle{
  width: 150px;
  height: 150px;
  border:3px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.username{
  color:gray;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  margin: 0;
}

.name{
  color:black;
  font-weight: bold;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  margin: 0;
}

/* CARDS */

.content {
  width: 100%;
}

.card {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-top: 1px solid lightgray;
  box-sizing: border-box;
  background-color: white;
  transition: background-color 0.5s ease;
}

.card:hover {
  background-color: rgb(234, 234, 234);
}

.card div {
  margin: 0 10px;
}

.card-content {
  width: 100%;
}

.card-content iframe{
  margin-top:10px;
  max-width: 660px;
  width: 100%;
  border-radius: 10px;
}

.card p {
  margin: 0;
}

.card img {
  width: 40px;
  height: 40px;
  border: none;
}

/* LISTS */

footer {
  padding: 15px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul{
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

footer li{
  margin: 0 10px;
}

li a{
  text-decoration:none;
  color:gray;
  transition: 0.5s ease;
}

li a:hover{
  color: darkred;
}

/* BUTTONS */

button{
  background-color: white;
  border: 1px solid darkred;
  font-family: "Oswald", sans-serif;
  color: darkred;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

button:hover{
  background-color: darkred;
  color: white;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
  }
  .container-left {
    width: 95vw;
    box-sizing: border-box;
  }
  .container-right {
    width: 95vw;
    box-sizing: border-box;
  }
}

@media (max-width: 540px) {
  button{
    position: relative !important;
    align-self: flex-start !important;
    margin: 10px 0;
  }
}
